@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Firefox */
#todays-forecast-div {
  scroll-behavior: smooth;
  
}

.darker-blue {
  background-color: rgb(166, 222, 252);
}

.even-darker-blue {
  background-color: rgb(74, 201, 252)
}

.dark-fade {
  background: linear-gradient(to right, rgb(43, 55, 71), rgb(77, 77, 77))
}


 