@tailwind base;
@tailwind components;
@tailwind utilities;

#todays-forecast-div {
  scroll-behavior: smooth;
  
}

.darker-blue {
  background-color: rgb(166, 222, 252);
}

.even-darker-blue {
  background-color: rgb(74, 201, 252)
}

.dark-fade {
  background: linear-gradient(to right, rgb(43, 55, 71), rgb(77, 77, 77))
}

.lower-temp-text {
  color: rgb(187, 187, 193);
}


/* Dark mode stuff */
@layer utilities {
  .dark-gradient {
    @apply dark:bg-gradient-to-br dark:from-[#010102] dark:via-[#1f1f1f] dark:to-[#363636];
  }
}

@layer utilities {
  .dark-gradient-panels {
    @apply dark:bg-gradient-to-br dark:from-[#505050] dark:to-[#303030];
  }
}

@layer utilities {
  .dark-gradient-toggle {
    @apply dark:bg-gradient-to-br dark:from-[#6b6b6b] dark:to-[#474747];
  }
}

@layer utilities {
  .dark-gradient-search {
    @apply dark:bg-gradient-to-br dark:from-[#080808] dark:to-[#2c2c2c];
  }
}




/* Light mode stuff */

@layer utilities {
  .light-gradient {
    @apply bg-gradient-to-br from-[#fdfdfd] via-[#e0f2fe] to-[#b9e6fc]; 
  }
}

@layer utilities {
  .light-gradient-panels {
    @apply bg-gradient-to-br from-[#eef6ff] to-[#cce2ff];
  }
}

@layer utilities {
  .light-gradient-toggle {
    @apply bg-gradient-to-br from-[#cfe7fa] to-[#a5d8f7];
  }
}

@layer utilities {
  .light-gradient-search {
    @apply bg-gradient-to-br from-[#ffffff] to-[#e3f2fd];
  }
}


/* Title and sub heading stuff */
/* Light Mode Text Shadow */
@layer utilities {
  /* Light Mode Text Shadow */
  .text-shadow-light {
    text-shadow: 0 0 10px rgba(0, 140, 255, 0.8),
                 0 0 12px rgba(0, 140, 255, 0.6),
                 0 0 20px rgba(0, 140, 255, 0.4);
  }

  /* Dark Mode Text Shadow (Registered as a Utility) */
  .dark .text-shadow-light {
    text-shadow: none; /* Disable light mode shadow in dark mode */
  }

  .dark .text-shadow-dark {
    text-shadow: 0 0 10px rgba(255, 140, 0, 0.8), 
                 0 0 12px rgba(255, 140, 0, 0.6), 
                 0 0 20px rgba(255, 140, 0, 0.4);
  }
}

/* Marquee Animation */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}
 